ConditionEngine/src/test/resources/metadataPolicy.xsd

<!--

    Copyright 2015-2017 EntIT Software LLC, a Micro Focus company.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metadataPolicy">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fieldAction" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="fieldAction" name="action" use="required"/>
                                <xs:attribute type="fieldName" name="fieldName" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="fieldAction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADD_FIELD_VALUE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fieldName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>